/* @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

:root {
  --me-primary-color: rgba(20, 20, 20);
  --me-secondary-color: rgb(88, 88, 88);
  --me-primary-color-transparent: rgba(20, 20, 40, 0.4);
  --me-secondary-color-transparent: rgba(100, 100, 102, 0.9);
  --me-secondary-color-blur:  hsla(150, 1%, 100%, 0.1);
  --me-primary-color-fade: rgba(0, 0, 45, .09);
  --me-secondary-color-fade: rgba(220, 220, 220, 0.198);
  --me-inverse-color: rgba(255, 255, 255, 0.8);
  
  --me-font-size: 14px;
  --me-icon-size: 1.3rem;
  --me-icon-size-2: 1.4rem;
  --me-icon-size-3: 1.5rem;

  --me-edge-padding: .9rem;

  --me-border-radius: 15px;
  --me-border-radius-inside: 10px;
  --me-border-color: rgba(0, 0, 20, .15);
  --me-trigger-text-color: #fff;
  --me-active-text-color: #038fcc;
  --me-disabled-text-color: #a6a6a6;
  --me-active-transition: 250ms;
  --me-slide-transition: 400ms;
  --me-backdrop-filter: blur(24px);
  --me-box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.3);
  --me-input-color: rgba(235, 235, 240, 0.7);
}

modela,
viewport {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
viewport {
  background-color: #fff;
  cursor: grab;
  
  /* Grid size */
  /* background-size: 10px 10px;
  background-image: linear-gradient(to right, #ccc 1px, transparent 1px),
                    linear-gradient(to bottom, #ccc 1px, transparent 1px); */
}
viewport mcanvas {
  position: absolute;
  z-index: 1;
  transform-origin: 0 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  touch-action: none;
}
viewport snapguide {
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 255, 0.5);
  z-index: 999;
  pointer-events: none;
}
viewport snapguide[horizontal] {
  height: 1px;
  width: 100%;
}
viewport snapguide[vertical] {
  width: 1px;
  height: 100%;
}

viewport mcanvas > div[mv-frame] {
  position: absolute;
  display: block;
  border: 1px solid var(--me-border-color);
  background-image: 
    linear-gradient(45deg, #c6c6c6 25%, transparent 25%),
    linear-gradient(-45deg, #c6c6c6 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #c6c6c6 75%),
    linear-gradient(-45deg, transparent 75%, #c6c6c6 75%);
  background-size: 16px 16px;
  background-position: 0 0, 0 8px, 8px -8px, -8px 0px;
  background-color: white;
  cursor: default!important;
  /* cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAACXBIWXMAAAsTAAALEwEAmpwYAAAF0WlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS41LjAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICAgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIgogICAgPgogIDwvcmRmOkRlc2NyaXB0aW9uPgogPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KPD94cGFja2V0IGVuZD0iciI/PgxTkNUAAAAvSURBVCgVY2RgYPgPxAwMDIxQGkHDGCAApgHmwIxhxCYAV4RNM1aNxNmKbDSSFQEA8aUDVJ5PvToAAAAASUVORK5CYII=), auto!important; */
  pointer-events: auto;
}
viewport mcanvas > div[mv-frame][frozen] { pointer-events: none; }
viewport mcanvas > div[mv-frame][frozen]::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 100000;
  width: 100%;
  height: 100%;
  background: var(--me-secondary-color-transparent);
  pointer-events: none;
}
viewport mcanvas > div[mv-frame][component] {
  resize: both;
  overflow: auto;
}
viewport mcanvas div[mv-frame] mul {
  display: none;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  right: 0;
  margin-top: -2.5rem;
}
viewport mcanvas div[mv-frame] mul:active {
  color: red!important;
}
viewport mcanvas div[mv-frame]:hover mul {
  display: flex;
}
viewport mcanvas div[mv-frame] mul mli {
  padding: 4px;
  cursor: pointer;
}
viewport mcanvas div[mv-frame] mblock {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
viewport mcanvas div[mv-frame] mblock > iframe {
  width:100%;
  height:100%;
  border:none;
  background-color: rgb(255, 255, 255);
  transition: 300ms;
}

viewport,
[mv-menu],
[mv-quickset],
[mv-form-input] * {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 600;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

mul,
mblock { display: block; }
micon,
mlabel,
minline { display: inline; }
mli { display: inherit; }


/* Empty view block */
[mv-empty] {
  padding: 4rem;
  text-align: center;
  color: var(--me-primary-color-transparent);
}

/* Editing menus */

/* 
[mv-form-input="radio"],
[mv-form-input="checkbox"] */
[mv-form-input] {
  display: flex;
  font-size: var(--me-font-size);
  margin-bottom: 0.8rem;
}
[mv-form-input] > [type="text"],
[mv-form-input] > [type="search"] {
  display: block;
  padding: .7rem .9rem;
  width: 100%;
  font-size: var(--me-font-size);
  border: 1px solid var(--me-border-color);
  border-radius: var(--me-border-radius);
  background-clip: padding-box;
  background-color: var(--me-input-color);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
[mv-form-input] > [type="text"]:focus,
[mv-form-input] > [type="search"]:focus { outline: none; }

[mv-form-input] > [type="radio"],
[mv-form-input] > [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

[mv-form-seperator] {
  border-bottom: 1px solid var(--me-primary-color-fade);
}

[type="radio"] ~ label,
[type="checkbox"] ~ label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  padding-left: 10px;
}
[type="radio"] ~ label::before,
[type="checkbox"] ~ label::before {
  position: absolute;
  top: -0.25rem;
  left: -1.25rem;
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  pointer-events: none;
  content: "";
  background-color: #FFFFFF;
  border: 1px solid var(--me-border-color);
}
[type="radio"] ~ label::after,
[type="checkbox"] ~ label::after {
  position: absolute;
  top: -0.17rem;
  left: -1.4rem;
  display: block;
  width: 1.6rem;
  height: 1.2rem;
  content: "";
  color: #acaaaa;
  background: no-repeat 50% / 50% 50%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23acaaaa' d='M0 2h4'/%3e%3c/svg%3e");
}
[mv-form-input="radio"] label::before,
[mv-form-input="checkbox"] label::before {
  border-radius: var(--me-border-radius-inside);
}
[type="radio"]:checked ~ label::after,
[type="checkbox"]:checked ~ label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0.7 1 7 6.6'%3e%3cpath fill='%23000000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
[type="text"]:disabled,
[type="search"]:disabled,
[type="radio"]:disabled ~ label,
[type="checkbox"]:disabled ~ label {
  color: var(--me-primary-color-transparent);
}
[type="radio"]:disabled:checked ~ label::after,
[type="checkbox"]:disabled:checked ~ label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0.7 1 7 6.6'%3e%3cpath fill='%23acaaaa' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
[type="radio"]:not(:disabled) ~ label,
[type="checkbox"]:not(:disabled) ~ label {
  cursor: pointer;
}
@media (prefers-color-scheme: light) {
  viewport {
    /* color: #213547;
    background-color: #ffffff; */
  }
  viewport .modela-button {
    background-color: var(--me-primary-color);
    /* color: #fff; */
  }
}