/* @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

:root {
  --me-primary-color: rgba(20, 20, 20);
  --me-secondary-color: rgb(88, 88, 88);
  --me-primary-color-transparent: rgba(20, 20, 40, 0.4);
  --me-secondary-color-transparent: rgba(100, 100, 102, 0.9);
  --me-secondary-color-blur:  hsla(150, 1%, 100%, 0.1);
  --me-primary-color-fade: rgba(0, 0, 45, .09);
  --me-secondary-color-fade: rgba(220, 220, 220, 0.198);
  
  --me-font-size: 14px;
  --me-icon-size: 1.3rem;
  --me-icon-size-2: 1.6rem;

  --me-edge-padding: .9rem;

  --me-border-radius: 5px;
  --me-border-color: rgba(0, 0, 20, .15);
  --me-trigger-text-color: #fff;
  --me-active-text-color: #20035b;
  --me-disabled-text-color: #a6a6a6;
  --me-active-transition: 250ms;
  --me-slide-transition: 400ms;
  --me-backdrop-filter: blur(24px);
  --me-box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.4);
  --me-input-color: rgba(235, 235, 240, 0.7);
}

viewport {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: block;
  overflow: hidden;
  background-color: #f0f0f0;
  cursor: grab;
  /* Grid size */
  /* background-size: 10px 10px;
  background-image: linear-gradient(to right, #ccc 1px, transparent 1px),
                    linear-gradient(to bottom, #ccc 1px, transparent 1px); */
}
viewport moverlap {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
viewport moverlap[on] { display: block }
viewport mcanvas {
  position: absolute;
  z-index: 1;
  transform-origin: 0 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  touch-action: none;
}
viewport snapguide {
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 255, 0.5);
  z-index: 999;
  pointer-events: none;
}
viewport snapguide[horizontal] {
  height: 1px;
  width: 100%;
}
viewport snapguide[vertical] {
  width: 1px;
  height: 100%;
}

viewport mcanvas > mframe {
  position: absolute;
  display: block;
  background-color: #fff;
  /* border: 1px solid var(--me-border-color); */
  cursor: pointer;
  pointer-events: auto;
}
viewport mcanvas > mframe[component] {
  resize: both;
  overflow: auto;
}
viewport mcanvas mframe mul {
  display: none;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  right: 0;
  margin-top: -2.5rem;
}
viewport mcanvas mframe mul:active {
  color: red!important;
}
viewport mcanvas mframe:hover mul {
  display: flex;
}
viewport mcanvas mframe mul mli {
  padding: 4px;
  cursor: pointer;
}
viewport mcanvas mframe mblock {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
viewport mcanvas mframe mblock > iframe {
  width:100%;
  height:100%;
  border:none;
  background-color: rgb(255, 255, 255);
  transition: 300ms;
}

viewport,
[mv-panel],
[mv-toolbar],
[mv-form-input] * {
  font-family: Urbanist, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 600;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

viewport,
[mv-panel],
[mv-toolbar] {
  font-size: var(--me-font-size);
}

mul,
mblock,
mglobal { display: block; }
micon,
mlabel,
minline { display: inline; }
mli { display: inherit; }

viewport mglobal,
viewport mglobal > [show],
viewport mglobal > [backdrop],
viewport mglobal > [container] {
  position: fixed;
  z-index: 201;
}
viewport mglobal {
  z-index: 201;
}
viewport mglobal > [show] {
  left: 0;
  top: calc(50% - 40px);
  margin: 2px;
  padding: 20px 22px 20px 2px;
  border-radius: 0 100px 100px 0;
  transition: ease-in-out var(--me-active-transition);
}
viewport mglobal > [show]:hover { 
  background-color: var(--me-primary-color-fade);
}
viewport mglobal > [show] micon {
  padding: 5px 0;
  cursor: pointer;
  color: var(--me-trigger-text-color);
  border-radius: var(--me-border-radius);
  background-color: var(--me-primary-color-transparent);
  backdrop-filter: var(--me-backdrop-filter);
  font-size: var(--me-icon-size)!important;
}
viewport mglobal > [backdrop] {
  display: none;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}
viewport mglobal > [container] {
  left: -100%;
  min-width: 25vw;
  margin: 15px;
  height: calc(100vh - 30px);
  overflow: hidden;
  border-radius: 20px;
  transition: var(--me-slide-transition);
  backdrop-filter: var(--me-backdrop-filter);
  background-color: rgba(225, 225, 225, .6);
  box-shadow: var(--me-box-shadow);
}
viewport mglobal.active > [backdrop] { display: block; }
viewport mglobal:hover > [container],
viewport mglobal.active > [container] { left: 0; }


/* Editing toolbars */
[mv-panel],
[mv-toolbar] {
  position: fixed;
  z-index: 200;
  width: 0px;
  user-select: none;
  /* pointer-events: none; */
}
[mv-toolbar="global"] {
  left: var(--me-edge-padding);
  bottom: var(--me-edge-padding);
}
viewport mframe mul,
[mv-toolbar] > mblock > mul {
  list-style: none;
  margin: 0;
  padding: 1px;
  border-radius: var(--me-border-radius);
  background-color: var(--me-secondary-color-transparent);
  backdrop-filter: var(--me-backdrop-filter);
  transition: var(--me-active-transition);
}
[mv-toolbar],
[mv-toolbar] > mblock,
[mv-toolbar] > mblock > mul,
[mv-toolbar] > mblock > mul > mblock {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

[mv-toolbar] > mblock { padding: 6px 0; }
[mv-toolbar] > mblock > mul:not(:first-child) {
  margin: 0 6px;
}
[mv-toolbar] mli,
viewport mframe mul mli {
  padding: 6px;
  margin: 4px;
  display: inline-flex;
  align-items: center;
  color: var(--me-trigger-text-color);
  border-radius: var(--me-border-radius);
  transition: var(--me-active-transition);
}
[mv-toolbar] mli:not(.label),
viewport mframe mul > mli:not(.label) {
  cursor: pointer;
}
[mv-toolbar] mli[active] {
  color: var(--me-active-text-color);
}
[mv-toolbar] mli[disabled] {
  color: var(--me-disabled-text-color);
  cursor: not-allowed;
}
[mv-toolbar] [meta],
[mv-toolbar] [dismiss],
[mv-toolbar] mli:not(.label,[disabled]):hover,
viewport mframe mul > mli:not(.label,[disabled]):hover {
  background-color: var(--me-secondary-color-fade);
}
[mv-toolbar] mli.label > micon,
[mv-toolbar] mli.label > mlabel,
viewport mframe mul mli.label > mlabel {
  cursor: default;
  text-wrap: nowrap;
  padding-left: 10px;
  font-size: var(--me-font-size);
  color: var(--me-disabled-text-color);
}
[mv-toolbar] mli.label > micon { padding-left: 0; }
[mv-toolbar] mli micon,
viewport mframe mul mli micon {
  font-size: var(--me-icon-size)!important;
}
[mv-toolbar] [options="sub"],
[mv-toolbar] [options="extra"] {
  display: none;
}
[mv-toolbar] [options="sub"].active,
[mv-toolbar] [options="extra"].active {
  display: inherit;
}

/* Empty view block */
[mv-empty] {
  padding: 4rem;
  text-align: center;
  color: var(--me-primary-color-transparent);
}

/* Editing panels */
[mv-panel] > [container] {
  position: relative;
  width: 18rem;
  min-height: 10rem;
  max-height: 30rem;
  overflow: auto;
  border-radius: var(--me-border-radius);
  backdrop-filter: var(--me-backdrop-filter);
  box-shadow: var(--me-box-shadow);
  transition: var(--me-active-transition);
}
[mv-panel] > [backdrop] {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;top: 0;
}
[mv-panel] > [container] > .header {
  position: sticky;
  z-index: 50;
  top: 0;
}
[mv-panel] > [container],
[mv-panel] > [container] > .header {
  background-color: #fff;
}
[mv-panel] > [container] > .header > * {
  display: flex;
  padding: 0.55rem 0.85em;
  align-items: center;
  justify-content: start;
}
[mv-panel] > [container] > .header > mblock {
  cursor: default;
  font-size: var(--me-font-size);
  color: var(--me-primary-color-transparent);
}
[mv-panel] > [container] > .header > mblock micon {
  font-size: var(--me-icon-size)!important;
}
[mv-panel] > [container] > .header > mblock mlabel {
  padding-left: 10px;
}
[mv-panel] > [container] > .header > mblock [dismiss] {
  position: absolute;
  right: 0;
  margin: 0.4rem;
}
[mv-panel] > [container] > .header > [options="tabs"] {
  list-style: none;
  margin: 0;
  border-bottom: 1px solid var(--me-primary-color-fade);
}
[mv-panel] > [container] > .header [dismiss],
[mv-panel] > [container] > .header > [options="tabs"] > mli {
  padding: 6px;
  margin: 4px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: var(--me-secondary-color);
  border-radius: var(--me-border-radius);
  transition: var(--me-active-transition);
}
[mv-panel] > [container] > .header [dismiss],
[mv-panel] > [container] > .header > [options="tabs"] > mli micon {
  font-size: var(--me-icon-size-2)!important;
}
[mv-panel] > [container] > .header [dismiss],
[mv-panel] > [container] > .header > [options="tabs"] > mli.active,
[mv-panel] > [container] > .header > [options="tabs"] > mli:not(.label,.disabled):hover {
  background-color: var(--me-primary-color-fade);
}
[mv-panel] > [container] > .body {
  min-height: 8rem;
}
[mv-panel] > [container] > .body > mblock { display: none; }
[mv-panel] > [container] > .body > mblock.active { display: block; }

[mv-panel] fieldset {
  padding: 0.8rem 0.8rem 0 0.8rem;
  border: none;
}
[mv-panel] fieldset > mlabel,
[mv-panel] .listset > mlabel {
  display: block;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

[mv-panel] .listset > mlabel {
  margin: 0.8rem 0.9rem;
}
[mv-panel] .listset mul {
  list-style: none;
  padding: 0;
  margin: 0;
}
[mv-panel] .listset mul mli {
  padding: .45rem 1rem;
  display: flex;
  align-items: center;
  font-size: var(--me-font-size);
}
[mv-panel] .listset mul mli:not(.disabled):hover {
  background-color: var(--me-primary-color-fade);
  cursor: pointer;
}
[mv-panel] .listset mul mli micon {
  font-size: var(--me-icon-size);
}
[mv-panel] .listset mul mli > micon:first-child {
  background-color: var(--me-primary-color-fade);
  padding: 4px;
  border-radius: var(--me-border-radius);
}
[mv-panel] .listset mul mli minline:not(.value) {
  padding: 0 .8rem;
}
[mv-panel] .listset mul mli .sub-arrow {
  position: absolute;
  right: 0;
}
[mv-panel] .listset mul mli.disabled,
[mv-panel] .listset mul mli minline.value,
[mv-panel] .listset mul mli .sub-arrow {
  color: var(--me-primary-color-transparent);
}

[mv-floating] {
  position: fixed;
  z-index: 200;
  display: block;
  margin-top: -0.6rem;
  user-select: none;
  /* pointer-events: none; */
  transition: var(--me-active-transition);
}
[mv-floating] > mul {
  list-style: none;
  margin: 0;
  padding: 0;
}
[mv-floating] > mul > mli {
  cursor: pointer;
  margin-bottom: 0.3rem;
  border-radius: var(--me-border-radius);
  background-color: var(--me-secondary-color-transparent);
  box-shadow: var(--me-box-shadow);
  transition: var(--me-active-transition);
}
[mv-floating] > mul > mli > micon {
  padding: 0.3rem;
  color: #fff;
  font-size: var(--me-icon-size);
}
[mv-floating] > mul > mli:hover { transform:scale(1.08); }
[mv-floating] > mul > mli:active { transform:scale(1.1); }

/* 
[mv-form-input="radio"],
[mv-form-input="checkbox"] */
[mv-form-input] {
  display: flex;
  font-size: var(--me-font-size);
  margin-bottom: 0.8rem;
}
[mv-form-input] > [type="text"],
[mv-form-input] > [type="search"] {
  display: block;
  padding: .7rem .9rem;
  width: 100%;
  font-size: var(--me-font-size);
  border: 1px solid var(--me-border-color);
  border-radius: var(--me-border-radius);
  background-clip: padding-box;
  background-color: var(--me-input-color);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
[mv-form-input] > [type="text"]:focus,
[mv-form-input] > [type="search"]:focus { outline: none; }

[mv-form-input] > [type="radio"],
[mv-form-input] > [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

[mv-form-seperator] {
  border-bottom: 1px solid var(--me-primary-color-fade);
}

[type="radio"] ~ label,
[type="checkbox"] ~ label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  padding-left: 10px;
}
[type="radio"] ~ label::before,
[type="checkbox"] ~ label::before {
  position: absolute;
  top: -0.25rem;
  left: -1.25rem;
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  pointer-events: none;
  content: "";
  background-color: #FFFFFF;
  border: 1px solid var(--me-border-color);
}
[type="radio"] ~ label::after,
[type="checkbox"] ~ label::after {
  position: absolute;
  top: -0.17rem;
  left: -1.4rem;
  display: block;
  width: 1.6rem;
  height: 1.2rem;
  content: "";
  color: #acaaaa;
  background: no-repeat 50% / 50% 50%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23acaaaa' d='M0 2h4'/%3e%3c/svg%3e");
}
[mv-form-input="radio"] label::before,
[mv-form-input="checkbox"] label::before {
  border-radius: var(--me-border-radius);
}
[type="radio"]:checked ~ label::after,
[type="checkbox"]:checked ~ label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0.7 1 7 6.6'%3e%3cpath fill='%23000000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
[type="text"]:disabled,
[type="search"]:disabled,
[type="radio"]:disabled ~ label,
[type="checkbox"]:disabled ~ label {
  color: var(--me-primary-color-transparent);
}
[type="radio"]:disabled:checked ~ label::after,
[type="checkbox"]:disabled:checked ~ label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0.7 1 7 6.6'%3e%3cpath fill='%23acaaaa' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
[type="radio"]:not(:disabled) ~ label,
[type="checkbox"]:not(:disabled) ~ label {
  cursor: pointer;
}
@media (prefers-color-scheme: light) {
  viewport {
    /* color: #213547;
    background-color: #ffffff; */
  }
  viewport .modela-button {
    background-color: var(--me-primary-color);
    /* color: #fff; */
  }
}

